.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
*.iml
.idea/caches
.idea/modules.xml
.idea/vcs.xml
.idea/gradle.xml
.idea/kotlinc.xml
.idea/jarRepositories.xml
.idea/render.experimental.xml
.idea/compiler.xml
.idea/uiDesigner.xml
.idea/artifacts
*.apk
*.aab

lint-results.html
lint-results.xml

.idea/codeStyles/Project.xml
.idea/dictionaries

.idea/runConfigurations.xml

gradle-wrapper.jar
!gradle-wrapper.jar.asc

generated/
build/